In [1]:
from __future__ import print_function

# $example on$
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
#from matplotlib.backends.backend_pdf import PdfPages
import seaborn as sns
%matplotlib inline

In [23]:
#from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
model = RandomForestClassifier()

In [3]:
df=pd.read_excel("file:////Users/venkateswarlusayana/ABDD/Bank_Personal_Loan_Modelling.xlsx", sheetname=1,header=0)

In [4]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [5]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,5000.0,2500.500000,1443.520003,1.0,1250.75,2500.5,3750.25,5000.0
Age,5000.0,45.338400,11.463166,23.0,35.00,45.0,55.00,67.0
Experience,5000.0,20.104600,11.467954,-3.0,10.00,20.0,30.00,43.0
Income,5000.0,73.774200,46.033729,8.0,39.00,64.0,98.00,224.0
ZIP Code,5000.0,93152.503000,2121.852197,9307.0,91911.00,93437.0,94608.00,96651.0
Family,5000.0,2.396400,1.147663,1.0,1.00,2.0,3.00,4.0
CCAvg,5000.0,1.937913,1.747666,0.0,0.70,1.5,2.50,10.0
Education,5000.0,1.881000,0.839869,1.0,1.00,2.0,3.00,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.00,0.0,101.00,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.00,0.0,0.00,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.00,0.0,0.00,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.00,0.0,0.00,1.0
Online,5000.0,0.596800,0.490589,0.0,0.00,1.0,1.00,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.00,0.0,1.00,1.0

In [6]:
#Making the values in Experience column to Zero for values which are negative
datadf_processed =df
datadf_processed['Experience'] = (datadf_processed['Experience']).abs()

In [7]:
# Dropping the ID , ZIP Code column as they do not have any relevance to whether a customer can be turned into a Personal Loan customer.
datadf_processed = datadf_processed.drop('ZIP Code', axis=1)
datadf_processed = datadf_processed.drop('ID', axis=1)

In [8]:
datadf_processed['Education'] = datadf_processed['Education'].replace({1: 'UnderGrad', 2: 'Grad', 3: 'Prof'})
#datadf_processed['Personal Loan'] = datadf_processed['Personal Loan'].replace({1: 'Yes', 0: 'No'})
datadf_processed['Securities Account'] = datadf_processed['Securities Account'].replace({1: 'Yes', 0: 'No'})
datadf_processed['CD Account'] = datadf_processed['CD Account'].replace({1: 'Yes', 0: 'No'})
datadf_processed['Online'] = datadf_processed['Online'].replace({1: 'Yes', 0: 'No'})
datadf_processed['CreditCard'] = datadf_processed['CreditCard'].replace({1: 'Yes', 0: 'No'})
datadf_processed = pd.get_dummies(datadf_processed, columns=['Education'])
#datadf_processed = pd.get_dummies(datadf_processed, columns=['Personal Loan'])
datadf_processed = pd.get_dummies(datadf_processed, columns=['Securities Account'])
datadf_processed = pd.get_dummies(datadf_processed, columns=['CD Account'])
datadf_processed = pd.get_dummies(datadf_processed, columns=['Online'])
datadf_processed = pd.get_dummies(datadf_processed, columns=['CreditCard'])

In [10]:
X = datadf_processed.drop('Personal Loan', axis=1)
y = datadf_processed[['Personal Loan']]

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=30, max_depth=10, random_state=1)

In [13]:
random_forest.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [31]:
random_forest.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [26]:
from sklearn.metrics import accuracy_score

y_predict = random_forest.predict(X_test)
accuracy_score(y_test, y_predict)

0.97999999999999998

In [27]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict),
    columns=['Predicted Loan ss', 'Predicted Loans noo'],
   ## index=['Loan ss ', 'Loan  no']
)

   Predicted Loan ss  Predicted Loans noo
0               1118                    3
1                 22                  107